<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.giroll.radio"
        version   = "1.0.7">

    <name>RadioGiroll</name>

    <description>
        Ecoutez Radio Giroll depuis votre Mobile !
    </description>

    <preference name="phonegap-version" value="3.6.3" />

    <icon src="img/logo.png" />

    <preference name="permissions" value="none"/>

    <feature name="Media">
        <param name="android-package" value="org.apache.cordova.media.AudioHandler" />
    </feature>

    <gap:config-file platform="android" parent="/manifest">
        <uses-permission android:name="android.permission.RECORD_AUDIO" />
        <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </gap:config-file>

</widget>
