<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.giroll.radio"
        version   = "1.0.2">
    <name>RadioGiroll</name>

    <description>
        Ecoutez Radio Giroll depuis votre Mobile !
    </description>

    <preference name="phonegap-version" value="2.2.0" />

    <icon src="img/logo.png" />

    <preference name="permissions" value="none"/>

</widget>